@model GarageManager.Web.Models.ViewModels.Customer.CustomerCarViewModel

@{
    ViewData["Title"] = "All Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        @if (Model.CustomerCars.Count() != 0)
        {
            @if (Model.CustomerCars.Count() == 1)
            {
                <h1 class="text-center">Customer Car</h1>
            }
            else
            {
                <h1 class="text-center">Customer Cars</h1>
            }
            <table class="table w-75 mx-auto">
                <thead>
                    <tr class="row mx-auto">
                        <th class="col-md-3">Make</th>
                        <th class="col-md-3">Model</th>
                        <th class="col-md-3">Registration Plate</th>
                        <th class="col-md-3 text-center">Details</th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var car in Model.CustomerCars)
                    {
                        <tr class="row mx-auto">
                            <td class="col-md-3">@car.Make</td>
                            <td class="col-md-3">@car.Model</td>
                            <td class="col-md-3 ">@car.RegistrationPlate</td>
                            <th class="col-md-3 d-flex justify-content-around">
                                <a asp-action="Details" 
                                   asp-controller="Cars"
                                   asp-area="Employees"
                                   asp-route-Id="@car.Id">Details</a>

                                <a asp-action="Edit"
                                   asp-controller="Cars"
                                   asp-area="Admin"
                                   asp-route-Id="@car.Id">Edit</a>

                                @if (car.IsInService)
                                {
                                    <a asp-action="ServiceDetails" 
                                       asp-controller="Cars" 
                                       asp-area="Employees"
                                       asp-route-Id="@car.Id">In Service</a>
                                }
                                else
                                {
                                    <a asp-action="Service" 
                                       asp-controller="Cars"
                                       asp-area="Employees" 
                                       asp-route-Id="@car.Id">Service</a>
                                }
                                <a asp-action="ServiceHistoryByCarId"
                                   asp-controller="Services" 
                                   asp-area="Admin" 
                                   asp-route-Id="@car.Id">History</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <h2 class="text-center text-black-50">The Customer does not have a registered car</h2>
        }
        </div>
    <div class="mt-5">
            <div class="text-center">
                <a class="btn btn-outline-secondary " asp-action="Create" asp-controller="Cars" asp-area="Admin" asp-route-id="@Model.CustomerId" role="button">Add new Car</a>
            </div>
    </div>



