@model GarageManager.Web.Models.ViewModels.Car.EditCarViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fuelTypeName = Model.FuelTypes.First(ft => ft.Value == Model.FuelTypeId).Text;
    var transsmisionTypeName = Model.Transmissions.First(tr => tr.Value == Model.TransmissionId).Text;
}

<h1 class="text-center">Edit Car Details</h1>

<div class="w-75 mx-auto">
    <hr />
    <div>
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Vin" class="control-label"></label>
                    <input asp-for="Vin" class="form-control" disabled />
                    <span asp-validation-for="Vin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Make" class="control-label"></label>
                    <input asp-for="Make" class="form-control" disabled />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" disabled />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegistrationPlate" class="control-label"></label>
                    <input asp-for="RegistrationPlate" class="form-control" />
                    <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Кilometers" class="control-label"></label>
                    <input asp-for="Кilometers" class="form-control" />
                    <span asp-validation-for="Кilometers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearOfManufacturing" class="control-label"></label>
                    <input asp-for="YearOfManufacturing" class="form-control" />
                    <span asp-validation-for="YearOfManufacturing" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EngineModel" class="control-label"></label>
                    <input asp-for="EngineModel" class="form-control" />
                    <span asp-validation-for="EngineModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EngineHorsePower" class="control-label"></label>
                    <input asp-for="EngineHorsePower" class="form-control" />
                    <span asp-validation-for="EngineHorsePower" class="text-danger"></span>
                </div>
                <div class="row mx-auto justify-content-between">
                    <div class="form-group w-45">
                        <label asp-for="FuelTypeId" class="control-label"></label>
                        <select asp-for="FuelTypeId" asp-items="Model.FuelTypes" class="form-control">
                            <option disabled selected>@fuelTypeName</option>
                        </select>
                    </div>

                    <div class="form-group w-45">
                        <label asp-for="TransmissionId" class="control-label"></label>
                        <select asp-for="TransmissionId" asp-items="@Model.Transmissions" class="form-control">
                            <option disabled selected>@transsmisionTypeName</option>
                        </select>
                    </div>
                </div>
                <hr class="mt-4" />
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a class="btn btn-danger ml-3"
                       asp-action="Delete"
                       asp-controller="Cars"
                       asp-area="Admin"
                       asp-route-customerId="@Model.CustomerId"
                       asp-route-carId="@Model.Id">Delete</a>
                    <a class="btn btn-secondary ml-3"
                       asp-action="CarsByCustomerId"
                       asp-controller="Cars"
                       asp-area="Admin"
                       asp-route-id="@Model.CustomerId">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
