@model GarageManager.Web.Models.ViewModels.Department.DepartmentCarsList

@{
    ViewData["Title"] = "Department Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.Name</h1>

<div class="container-fluid">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Register Plait</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model.Cars)
            {
                <tr>
                    <td>@car.MakeName</td>
                    <td>@car.ModelName</td>
                    <td>@car.RegistrationPlate</td>
                    <th class="d-flex justify-content-around">
                        <a asp-action="ServiceDetails" 
                           asp-controller="Cars" 
                           asp-area="Employees"
                           asp-route-id="@car.Id">Edit</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
