@model GarageManager.Web.Models.ViewModels.Car.CarDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Details</h1>

<div>
    <div class="container-fluid">
        <div class=" w-50 mx-auto">
            <div class="justify-content-around">
                <hr />
                <dl class="row">
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.Vin)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Vin)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.MakeName)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.MakeName)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.ModelName)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.ModelName)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.RegistrationPlate)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.RegistrationPlate)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.YearOfManufacturing)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.YearOfManufacturing)
                    </dd>

                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.Кilometers)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.Кilometers)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.EngineModel)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.EngineModel)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.EngineHorsePower)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.EngineHorsePower)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.FuelTypeName)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.FuelTypeName)
                    </dd>
                    <dt class="col-sm-5 ml-5">
                        @Html.DisplayNameFor(model => model.TransmissionName)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.TransmissionName)
                    </dd>
                </dl>
                <hr />
                <div class="text-center">
                    <a class="btn btn-secondary ml-3"
                       asp-action="CarsByCustomerId"
                       asp-controller="Cars"
                       asp-area="Admin"
                       asp-route-id="@Model.CustomerId">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
