@model GarageManager.Web.Models.ViewModels.Invoice.InvoiceViewModel
@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

<div class="container">
    <div>
        <div>
            <div class="text-right mb-n4  mr-5">
                <h4><span class="badge badge-secondary text-center">G.M.</span></h4>
            </div>
            <div class="text-xs-center">
                <h1 class=" text-center display-4"><strong>Invoice</strong></h1>
                <hr />
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="mt-4">
                        <h4 class="text-bold">Customer Details</h4>
                        <h5 class="text-bold">Name: @Model.FullName</h5>
                        <h5 class="text-bold">Email: @Model.Email</h5>
                        <h5 class="text-bold">Phone number: @Model.PhoneNumber</h5>

                    </div>
                    <div class="text-right">
                        <h4 class="text-bold">Date: @Model.Date</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center"><strong>Order summary</strong></h3>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td class="text-xs-center"><strong>Price</strong></td>
                                    <td class="text-xs-center"><strong>Quantity/Hours</strong></td>
                                    <td class="text-xs-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Services.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.Services[i].Name</td>
                                        <td>@Model.Services[i].Quantity.ToString("F1")</td>
                                        <td>@Model.Services[i].Price.ToString("F2")</td>
                                        <td>$@Model.Services[i].TotalCost.ToString("F2")</td>
                                    </tr>
                                }

                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-xs-center"><strong>Total</strong></td>
                                    <td class="highrow mt-5">$@Model.TotalCost</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

