@model IEnumerable<GarageManager.Web.Models.ViewModels.Employee.AllEmployeesViewModel>

    @{
    ViewData["Title"] = "AllEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1 class="text-center">All Employees</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class=" table-responsive">
                    <table class="table table-hover table-bordered  mx-auto ">
                        <thead>
                            <tr class="row mx-auto">
                                <td class="col-sm-3 bg-secondary text-white">Name</td>
                                <td class="col-sm-3 bg-secondary text-white">Department Name</td>
                                <td class="col-sm-2 bg-secondary text-white">Phone Number</td>
                                <td class="col-sm-2 bg-secondary text-white">Email</td>
                                <td class="col-sm-2 text-center bg-secondary text-white">Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model)
                            {
                            <tr class="row mx-auto ">
                                <td class="col-md-3 container-fluid">@employee.FullName</td>
                                <td class="col-md-3">@employee.DepartmentName</td>
                                <td class="col-md-2">@employee.PhoneNumber</td>
                                <td class="col-md-2">@employee.Email</td>
                                <th class="col-md-2   d-flex justify-content-around">
                                    <a asp-action="Details"
                                       asp-controller="Employees"
                                       asp-area="Admin" 
                                       asp-route-id="@employee.Id">Details</a>

                                    <a asp-action="Edit"
                                       asp-controller="Employees"
                                       asp-area="Admin"
                                       asp-route-id="@employee.Id">Edit</a>
                                </th>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
