@model GarageManager.Web.Models.ViewModels.Employee.EmployeeDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

    <h4>EmployeeDetailsViewModel</h4>
    <hr />
    <div class="container-fluid">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecruitedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecruitedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>
        </dl>
        <a class="btn btn-secondary text-center"
           asp-action="AllEmployees"
           asp-controller="Employees" 
           asp-area="Admin">Back</a>
    </div>
