@model GarageManager.Web.Models.ViewModels.Employee.EmployeeDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Details</h1>

    
    <div class="container-fluid">
        <div class=" w-50 mx-auto">
            <div class=" mx-auto">
                <hr />
                <dl class="row justify-content-center">
                    <dt class="col-md-5 ml-5">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-md-4 ml-5">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-md-5  ml-5">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-md-4 ml-5">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-md-5 ml-5">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-md-4 ml-5 ">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-md-5 ml-5">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-md-4 ml-5">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-md-5   ml-5">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt> 
                    <dd class="col-md-4 ml-5">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>
                    <dt class="col-md-5  ml-5">
                        @Html.DisplayNameFor(model => model.RecruitedOn)
                    </dt>
                    <dd class="col-md-4 ml-5">
                        @Html.DisplayFor(model => model.RecruitedOn)
                    </dd>
                    <dt class="col-md-5  ml-5">
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </dt>
                    <dd class="col-md-4 ml-5">
                        @Html.DisplayFor(model => model.DepartmentName)
                    </dd>
                </dl>
                <hr />
                <div class="mt-4 text-center">
                    <a class="btn btn-secondary"
                       asp-action="AllEmployees"
                       asp-controller="Employees"
                       asp-area="Admin">Back</a>
                </div>
            </div>
        </div>
</div>